<div class="container bg-slate-300 max-w-full">
    <div class="container mx-auto">
        <div name="title" class="text-3xl font-bold text-slate-600 text-center content-center lg:max-w-full md:max-w-full mx-auto sm:max-w-sm p-4">Welcome to the Hotel Reservation Portal</div>
        <!-- <div name="navigation" class="container lg:flex md:flex sm:flex-none mx-auto w-fit content-center py-2 pb-3">
            <div name="button1" class="container flex w-96 justify-center mt-1">
                <mat-icon class=" bg-slate-500 text-white" aria-hidden="false" aria-label="add new" fontIcon="add-circle"></mat-icon>
                <button class="content-center bg-slate-600 text-white px-1 min-w-52" [routerLink]="['/new']">Create a new reservation</button>
            </div>
            <div name="button2" class="container flex w-96 justify-center mt-1">
                <mat-icon class=" bg-pink-600 text-white pr-1" aria-hidden="false" aria-label="list" fontIcon="list"></mat-icon>
                <button class=" bg-pink-700 text-white min-w-52" [routerLink]="['/list']">View reservations</button>
            </div>
        </div> -->
    </div>
</div>